<% if analytic_table[:data].count > 0 %>
  <table>
    <tr>
      <% analytic_table[:headers][:key].each do |header| %>
        <th><%=h header%></th>
      <% end %>
      <% analytic_table[:headers][:value].each do |header| %>
        <th><%=h header%></th>
      <% end %>
    </tr>
    <% analytic_table[:data].each do |analytic_data| %>
      <tr>
        <% analytic_table[:headers][:key].each do |header| %>
          <td><%=h analytic_data['_id'][header].try(:to_i) %></td>
        <% end %>
        <% analytic_table[:headers][:value].each do |header| %>
          <td><%=h analytic_data['value'][header].try(:to_i) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="pale pal txtC">No data found, try another filter</div>
<% end %>
