<% if analytic_table.count > 0 %>
  <table>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Requests</th>
    </tr>
    <% analytic_table.each do |analytic_data| %>
      <tr>
        <td><%=h analytic_data['_id']['year'].to_i %></td>
        <td><%=h analytic_data['_id']['month'].to_i %></td>
        <td><%=h analytic_data['_id']['day'].to_i %></td>
        <td><%=h analytic_data['value']['count'].to_i %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="pale pal txtC">No data found, try another filter</div>
<% end %>