<div id="filterLogsBlock">
  <div class="initial">
    <a id="filterLogsLink" href="#" class="button mts mrs">
      <span class="start" data-url="<%=h url_path("tail_logs") %>">Show Fiters</span>
    </a>
  </div>
  <div class="info">
    <a id="filterLogsStopLink" href="#" class="button mts mrs">
      <span class="stop">Hide Fiters</span>
    </a>
  </div>
</div>