<ul class="unit">
  <li <%= class_if_current(url_path("overview")) %>><a href="<%=h url_path("overview") %>" data-pjax='#main_pjax'>Logs</a></li>
  <li><a href="#" title="Comming soon...">Graphs</a></li>
</ul>