<ul class="unit">
  <li <%= class_if_current(url_path("overview")) %>><a href="<%=h url_path("overview") %>">Logs</a></li>
  <li <%= class_if_current(url_path("analytics")) %>><a href="<%=h url_path("analytics") %>">Analytics</a></li>
</ul>