<div id="tail_logs_block">
  <div class="initial">
    <a id="tail_logs_link" href="#" data-url="<%=h url_path("tail_logs") %>" class="button mts mrs">
      <span class="start" data-url="<%=h url_path("tail_logs") %>">Tail</span>
    </a>
  </div>
  <div class="info">
    <span id="tail_logs_time" class="logs-time mrs"></span>
    <a id="tail_logs_stop_link" href="#" class="button negative mts mrs">
      <span class="stop">Stop</span>
    </a>
  </div>
</div>