<div id="tailLogsBlock">
  <div class="initial">
    <a id="tailLogsLink" href="#" data-url="<%=h url_path("tail_logs") %>" class="button mts mrs">
      <span class="start" data-url="<%=h url_path("tail_logs") %>">Tail</span>
    </a>
  </div>
  <div class="info">
    <span id="tailLogsTime" class="logs-time mrs"></span>
    <a id="tailLogsStopLink" href="#" class="button negative mts mrs">
      <span class="stop">Stop</span>
    </a>
  </div>
</div>