<div class="topline">
  <%= partial(:"shared/tabs") %>
  <div class="unit-right">
    <% yield_content :right_top_panel %>
  </div> <!-- unit-right -->
  <div id="ajax_loader"><img src="<%=u 'images/spinner.gif'%>" alt="loading..."></div>
</div> <!-- topline -->