/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#topBar {
  border-bottom: solid 4px #442D22;
}

#appVersion .columns {
  background: #442D22;
  padding: 10px;
  color: #FFF;
  text-align: center;
}

.paddingTop {
  margin: 20px 0px;
}

.paddingMiddle {
  margin: 10px 0px;
}

#mainTitle .columns {
  font-size: 1.4rem;
  text-align: center;
}

.header-container {
  padding: 15px 0px;
  background: #F6F4CD;
  border-top: 1px solid #E3DD64;
  border-bottom: 1px solid #FFF;
}

.header-container .columns{
  font-size: 1.8rem;
  color: #675238;
  font-weight: bold;
}

#featuresBlock .columns h4 {
  color: #442D22;
}

#featuresBlock .columns p {
  font-size: 1.2em;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */



#github{
  right:-65px;
  height:30px;
  top:40px;
  position:absolute;
  text-decoration:none;
  width:250px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg)
}

#github span{
  background:#121621;
  border-top: 2px solid #686A6C;
  border-bottom: 2px solid #686A6C;
  color:#fff;
  font-size:14px;
  left:0;
  padding:5px 0;
  position:absolute;
  text-align:center;
  width:250px
}

#github span:last-child{
  background:#6B6B6B;
  color:#fff;
  border-top: 2px solid #858585;
  border-bottom: 2px solid #858585;
  opacity:0
}

#github:hover span:first-child{
  opacity:0
}

#github:hover span:last-child{
  opacity:1
}

@media all and (-webkit-transform-3d){
  #github span{
    opacity:1 !important;
    -webkit-backface-visibility:hidden;
    -webkit-transition:-webkit-transform 1s
  }
  #github span:last-child{
    -webkit-transform:rotateX(180deg)
  }
  #github:hover span:first-child{
    -webkit-transform:rotateX(180deg)
  }
  #github:hover span:last-child{
    -webkit-transform:rotateX(0)
  }
}
