/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#topBar {
  border-bottom: solid 4px #442D22;
}

#appVersion .columns {
  background: #442D22;
  padding: 10px;
  color: #FFF;
  text-align: center;
}

.paddingTop {
  margin: 20px 0px;
}

.paddingMiddle {
  margin: 10px 0px;
}

#mainTitle .columns {
  font-size: 2rem;
  text-align: center;
}

.header-container {
  padding: 15px 0px;
  background: #F6F4CD;
  border-top: 1px solid #E3DD64;
  border-bottom: 1px solid #FFF;
}

.header-container .columns{
  font-size: 2.4rem;
  color: #675238;
  font-weight: bold;
  text-align: center;
}

#featuresBlock .columns h4 {
  color: #442D22;
}

#featuresBlock .columns p {
  font-size: 1.6rem;
}

#gettingStarted li {
  font-size: 1.6rem;
}

#bottomBorder {
  background: #E1E2D9;
  padding: 1px 0px;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */


pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  font-size: 1.6rem;
  line-height: 28px;
  padding: 5px 10px;
  
  letter-spacing: -1px;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #FFF;
  background: #4C565E;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);
  
  overflow: hidden;
  
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #4C565E;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


.icons{
  background-image:url('../images/mongodb/sprite.png');
  background-repeat:no-repeat
}

.ICO_1{width:11.16668701171875px;height:62.3333740234375px;background-position:0 0}
.ICO_4{width:42px;height:42px;background-position:-11.16668701171875px 0}
.ICO_2{width:42px;height:42px;background-position:-53.16668701171875px 0}
.icon_features{width:42px;height:42px;background-position:-95.16668701171875px 0}
.mongoc{width:91px;height:33px;background-position:-11.16668701171875px -42px}
.ICO_5{width:20px;height:20px;background-position:-137.16668701171875px 0}