/* Foundation v2.1.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#topBar {
  border-bottom: solid 4px #442D22;
}

#appVersion .columns {
  background: #442D22;
  padding: 10px;
  color: #FFF;
  text-align: center;
}

.paddingTop {
  margin: 20px 0px;
}

.paddingMiddle {
  margin: 10px 0px;
}

#mainTitle .columns {
  font-size: 2rem;
  text-align: center;
  line-height: 22px;
}

.header-container {
  padding: 5px 0px 0px 0px;
  background: #F6F4CD;
  border-top: 1px solid #E3DD64;
  border-bottom: 1px solid #FFF;
}

.header-container h2{
  font-size: 2.4rem;
  color: #675238;
  font-weight: bold;
  text-align: center;
}

#featuresBlock .columns h4 {
  color: #442D22;
}

#featuresBlock .columns p {
  font-size: 1.6rem;
}

#gettingStarted li {
  font-size: 1.6rem;
}

#bottomBorder {
  background: #E1E2D9;
  padding: 1px 0px;
}

#screenshotsBlock .columns {
  text-align: center;
}

#screenshotsBlock h4 {
  color: #442D22;
}

#appCopiright a {
  color: #666;
  display:table;
}

#appCopiright a span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#appCopiright a img {
  vertical-align: middle;
}

/* icons */

.features_icon {
  background: url('../images/mongodb/features_icon.png') no-repeat;
  padding-left: 28px;
}

.front_end_icon {
  background: url('../images/mongodb/overlay_icon.png') no-repeat;
  padding-left: 28px;
}

.getting_started_icon {
  background: url('../images/mongodb/getstarted_icon.png') no-repeat;
  padding-left: 28px;
}

.bullet_icon {
  background: url('../images/mongodb/bullet.png') no-repeat 0 8px;
  padding-left: 14px;
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */


pre {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;

  font-size: 1.6rem;
  line-height: 28px;
  padding: 5px 10px;
  
  letter-spacing: -1px;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #FFF;
  background: #4C565E;
  border: 1px solid rgb(224, 224, 224);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, .1);
  
  overflow: auto;
  
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border: 1px solid #4C565E;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */